.about-page {
  display: grid;
  gap: 4rem;
}
.about-page img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  height: 500px;
  object-fit: cover;
}
.about-page p {
  line-height: 2;
  max-width: 45em;
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--clr-grey-5);
}
.title {
  text-align: left;
}
.underline {
  margin-left: 0;
}
@media (min-width: 992px) {
  .about-page {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 992px) {
  .about-page p {
    margin: 1rem 0 0 0;
  }
}
