.checkout-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 5rem;
}
.checkout-page .empty {
  text-align: center;
}

@media (max-width: 775px) {
  .checkout-page {
    padding: 2rem;
  }
}
